
<!-- Modal -->
<div class="modal fade" id="createpollquestion_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header row">
        <h5 class="modal-title col-lg-6" id="exampleModalLabel1">Set New Poll </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <hr>
        </div>
        <form class="form-sample" action="{% url 'moderator:question_create' %}" method="post">
          {% csrf_token %}
          <div class="row">
              <div class="col-md-12">
                <input type="hidden" name="session_pk" value="{{session_pk}}">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label">Question<span class="text-danger">*</span></label>
                  <div class="col-md-9">
                    <textarea class="form-control" name="question" placeholder="Question.." rows="8" cols="80" required></textarea>
                    <!-- <input type="message" class="form-control" placeholder="session name" name="session_name" required> -->
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label">Choice Type<span class="text-danger">*</span></label>
                  <div class="col-md-9">
                    <select class="form-control" name="option_type" placeholder="Select Options Type--" required>
                      <option value="Single">Single Choice</option>
                      <option value="Multiple">Multiple Choices</option>
                    </select>
                    <!-- <input type="message" class="form-control" placeholder="session name" name="session_name" required> -->
                  </div>
                </div>
              </div>
          </div>
            <div class="row">
            <div class="col-md-8">
              <div class="form-group row">
                <div class="col-sm-9 offset-3">
                  <input type="submit" class="btn btn-success pull-right" value="Submit">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
