
<!-- Modal -->
<div class="modal fade" id="createoption_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header row">
        <h5 class="modal-title col-lg-6" id="exampleModalLabel1"> Set Option </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <hr>
        </div>
        <form class="form-sample" id="new_optionform" action="" method="post">
          {% csrf_token %}
                          <!-- <input type="hidden" name="session_pk" value="{{session_pk}}"> -->
          <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label">Option<span class="text-danger">*</span></label>
                  <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="option" name="new_option" required>
                  </div>
                </div>
              </div>
          </div>
            <div class="row">
            <div class="col-md-8">
              <div class="form-group row">
                <div class="col-sm-9 offset-3">
                  <input type="submit" class="btn btn-success pull-right" value="Add">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
